#right form .nestedcheckboxsetfield ul { margin: 0; padding: 0; }
#right form .nestedcheckboxsetfield ul li { list-style: none !important; margin: 0; padding: 0; }
#right form .nestedcheckboxsetfield input { width: auto; }